* {
  /*padding: 0;
    padding-left: 20px;
    margin-right: 20px;*/
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav {
  height: 80px;
  width: 100%;
  padding-top: 20px;
  background-color: black;
  color: aliceblue;
}
.logo {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}
.nav ul {
  float: right;
  justify-content: space-between;
}
.nav ul li {
  display: inline-block;
}

.nav ul li a.active {
  transition: 5s;
  color: white;
}
.nav ul li a:hover {
  color: white;
  font-weight: bold;
}
.nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #ed661f;
}
.nav-items {
  padding: 15px;
  font-size: 20px;
  color: white;
}
.get-started {
  padding: 12px;
  background-color: #ed661f;
  color: white !important;
  margin-left: 200px;
}

/* NAVBAR END */
.background {
  background-image: url("https://oceanservice.noaa.gov/news/feb17/containership.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.subheading1 {
  width: 100%;

  padding-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  /* background-color: whitesmoke; */
}
.section1 {
  width: 43%;
  margin-left: 10%;
}
#header-text {
  color: black;
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: bolder;
}
#subheader-text {
  font-size: 25px;
}

.custom-button {
  color: white;
  background-color: #ed661f;
  padding: 20px;
  border-color: transparent;
  text-align: center;
}

.section2 {
  width: 43%;
  margin-left: -1%;
}

.buttons {
  display: flex;
  flex-direction: row;
}
.customers {
  height: 100px;
  width: 54%;
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  padding-top: 10px;
  background-color: whitesmoke;
  color: black;
  margin-top: -10px;
  margin-bottom: -10px;

}
.customers-row {
  width: 25%;
  margin-right: 5%;
  font-weight: bolder;
}

.container {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.subheading2 {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 1%;
}
.section1 {
  width: 43%;
  /*padding: 30px;*/
  /*color: #0F298B;*/
  /*color: #FAFAFA*/
}
.product-heading {
  color: black;
  text-align: left;
  width: 100%;
  margin-left: 8%;
  font-size: 35px;
  letter-spacing: 2px;
}
.product-heading:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
}
#header-text {
  color: black;
  font-size: 35px;
  letter-spacing: 0px;
  font-weight: bolder;
}
#subheader-text {
  font-size: 25px;
}
.section2 {
  width: 43%;
}

/* OUR PRODUCTS */
.products-heading {
  color: black;
  text-align: center;
  width: 100%;
  margin-left: 8%;
  font-size: 35px;
  letter-spacing: 2px;
}
.products-heading:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
}
.product-subheading:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
}
.product-subheading {
  text-align: left;
  margin-left: 10%;
  font-size: 35px;
  color: black;
  letter-spacing: 2px;
  width: 100%;

}
.products-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.product-subtext {
  text-align: center;
  font-size: 25px;
  width: 100%;
  color: black;
}
.product-text {
  text-align: center;
  font-size: 15px;
  width: 80%;
  color: black;
}

.Most-popular {
  width: 100%;
  margin-left: 0%;
  margin-top: 2rem;
  height: 400px;
  flex-direction: row;
  display: flex;
  text-align: left;
  margin-left: 10%;
}
.Most-popular:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
}
.fresh-carrots {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.cereals {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.fresh-fish {
  width: 20%;
  margin-right: 2rem;

  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.kales {
  width: 20%;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.border {
  padding: 20px;
  background-color: grey;
}
/* DEAR ESTEEMED CUSTOMER SECTION START*/
.sec3 {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-left: 10%;
  margin-top: 2rem;
}
.esteemedCustomer {
  color: black;
  width: 100%;
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  margin-left: 2rem;
}
.checked {
  color: #ed661f;
}
.arrow {
  color: #ed661f;
  padding: 5px;
  margin-left: 1rem;
}
.subText {
  color: black;
  font-size: 20px;
  text-align: center;
}
.secText {
  width: 25%;
  background-color: #fafafa;
  margin-right: 5%;
}
.Read-more {
  color: black;
  margin-top: 1rem;
  /* margin-right: 5rem; */
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}
 .Read-more:hover{
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
 }

/* DEAR ESTEEMED CUSTOMER SECTION END*/
/* KEEP IN TOUCH SECTION START*/
.keepintouch {
  width: 100%;
  background-color: black;
  margin-top: 4rem;
  color: white;
  text-align: center;
  height: 200px;
  padding-top: 2rem;

}
  
  .email {
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 2px;
    background-color: white;
    font-size: 12px;
    padding: 12px;

  }
  /* KEEP IN TOUCH END SECTION*/


/* FOOTER SECTION START*/
.footer {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-right: 3rem;
  background-color: black;
  margin-top: 1rem;
  color: white;
}
.footerBox {
  margin-left: 10%;
  width: 20%;
  margin-left: 5%;
}
.footer-social li {
  float: left;
}
.fa li {
  padding: 25px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  margin: 10px;
  background: #060843;
  color: white;
  font-size: 20px;
}

.fa-twitter {
  margin: 10px;
  background: #060843;
  color: white;
  font-size: 20px;
}


.fa-instagram {
  margin: 10px;
  background: #060843;
  color: white;
  font-size: 20px;
}
/* FOOTER SECTION END*/

	
